/* ------------------------ General Styles ------------------------ */
body {
    scroll-behavior: smooth;
}

.menu-icon {
    display: none;
    cursor: pointer;
    font-size: 2rem;
    color: #FCC696;
}

.page-section {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    text-align: center;
    padding-right: 50%;
}

.page-section.active {
    display: block;
    opacity: 1;
    text-align: left;

}

@media (max-width: 768px) {
    .navbar {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 64px;
        left: 0;
        width: 100%;
        background-color: #333;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .navbar a {
        padding: 1rem;
        text-align: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    #menu-toggle:checked~.navbar {
        display: flex;
    }

    .menu-icon {
        display: block;
    }

    .nav-desktop {
        display: none;
    }
}

/* ------------------------ Hero Section ------------------------ */
#hero {
    background-image: url(images/burger\ and\ fries\ to\ the\ background\ title.jpg);
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    align-items: center;
}

/* ------------------------ Footer ------------------------ */
footer a {
    color: #FCC696;
    transition: color 0.3s;
}

footer a:hover {
    color: #fff;
}

